<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>console.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,428},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>end/end_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{359,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,314}}</string>
                <key>sourceSize</key>
                <string>{359,314}</string>
            </dict>
            <key>end/heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,554},{59,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,55}}</string>
                <key>sourceSize</key>
                <string>{59,55}</string>
            </dict>
            <key>end/recover_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,212},{84,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,33}}</string>
                <key>sourceSize</key>
                <string>{84,33}</string>
            </dict>
            <key>end/recover_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,212},{80,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{80,31}}</string>
                <key>sourceSize</key>
                <string>{84,33}</string>
            </dict>
            <key>end/restart_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,59},{127,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,48}}</string>
                <key>sourceSize</key>
                <string>{127,48}</string>
            </dict>
            <key>end/restart_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,164},{123,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{123,46}}</string>
                <key>sourceSize</key>
                <string>{127,48}</string>
            </dict>
            <key>energy.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,109},{177,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,19}}</string>
                <key>sourceSize</key>
                <string>{177,19}</string>
            </dict>
            <key>energyBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,319},{236,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,69}}</string>
                <key>sourceSize</key>
                <string>{236,69}</string>
            </dict>
            <key>hitEffect/01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,29},{14,16}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>hitEffect/01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,611},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{42,46}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>hitEffect/01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,247},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>hitEffect/01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,362},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{64,68}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>hitEffect/01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,494},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{58,60}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>hitEffect/01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,294},{66,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,70}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>pause_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,606},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>pause_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,557},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>start/start_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{344,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,307}}</string>
                <key>sourceSize</key>
                <string>{344,307}</string>
            </dict>
            <key>start/start_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{129,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{129,55}}</string>
                <key>sourceSize</key>
                <string>{133,57}</string>
            </dict>
            <key>start/start_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,109},{123,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{123,53}}</string>
                <key>sourceSize</key>
                <string>{133,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dff587ca6d8387d9bee681d5c954f4b:e3160a058f4a2fe853770da85727299e:f5577fabd50a2cba5e671b1303948d36$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
