<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>drip_attack/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{106,68}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{106,68}}</string>
                <key>sourceSize</key>
                <string>{130,78}</string>
            </dict>
            <key>drip_attack/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{112,76}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{112,76}}</string>
                <key>sourceSize</key>
                <string>{130,78}</string>
            </dict>
            <key>drip_attack/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{110,78}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{110,78}}</string>
                <key>sourceSize</key>
                <string>{130,78}</string>
            </dict>
            <key>drip_drop/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,104},{58,106}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,17},{58,106}}</string>
                <key>sourceSize</key>
                <string>{114,124}</string>
            </dict>
            <key>drip_drop/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,358},{66,108}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,14},{66,108}}</string>
                <key>sourceSize</key>
                <string>{114,124}</string>
            </dict>
            <key>drip_drop/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,622},{82,82}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,42},{82,82}}</string>
                <key>sourceSize</key>
                <string>{114,124}</string>
            </dict>
            <key>drip_drop/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,538},{82,82}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,42},{82,82}}</string>
                <key>sourceSize</key>
                <string>{114,124}</string>
            </dict>
            <key>drip_drop/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,562},{98,68}}</string>
                <key>offset</key>
                <string>{5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,56},{98,68}}</string>
                <key>sourceSize</key>
                <string>{114,124}</string>
            </dict>
            <key>drip_drop/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,582},{98,66}}</string>
                <key>offset</key>
                <string>{5,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,58},{98,66}}</string>
                <key>sourceSize</key>
                <string>{114,124}</string>
            </dict>
            <key>drip_drop/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,446},{104,62}}</string>
                <key>offset</key>
                <string>{5,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,62},{104,62}}</string>
                <key>sourceSize</key>
                <string>{114,124}</string>
            </dict>
            <key>drip_drop/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,446},{104,62}}</string>
                <key>offset</key>
                <string>{5,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,62},{104,62}}</string>
                <key>sourceSize</key>
                <string>{114,124}</string>
            </dict>
            <key>drip_drop/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,560},{98,68}}</string>
                <key>offset</key>
                <string>{4,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,56},{98,68}}</string>
                <key>sourceSize</key>
                <string>{114,124}</string>
            </dict>
            <key>drip_drop/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,490},{98,68}}</string>
                <key>offset</key>
                <string>{4,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,56},{98,68}}</string>
                <key>sourceSize</key>
                <string>{114,124}</string>
            </dict>
            <key>drip_drop/19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{98,68}}</string>
                <key>offset</key>
                <string>{4,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,56},{98,68}}</string>
                <key>sourceSize</key>
                <string>{114,124}</string>
            </dict>
            <key>drip_drop/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,630},{80,76}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,48},{80,76}}</string>
                <key>sourceSize</key>
                <string>{114,124}</string>
            </dict>
            <key>drip_drop/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,510},{98,70}}</string>
                <key>offset</key>
                <string>{4,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,54},{98,70}}</string>
                <key>sourceSize</key>
                <string>{114,124}</string>
            </dict>
            <key>drip_drop/21.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,490},{98,70}}</string>
                <key>offset</key>
                <string>{4,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,54},{98,70}}</string>
                <key>sourceSize</key>
                <string>{114,124}</string>
            </dict>
            <key>drip_drop/22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{98,70}}</string>
                <key>offset</key>
                <string>{4,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,54},{98,70}}</string>
                <key>sourceSize</key>
                <string>{114,124}</string>
            </dict>
            <key>drip_drop/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{100,48}}</string>
                <key>offset</key>
                <string>{-1,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,76},{100,48}}</string>
                <key>sourceSize</key>
                <string>{114,124}</string>
            </dict>
            <key>drip_drop/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{114,38}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{114,38}}</string>
                <key>sourceSize</key>
                <string>{114,124}</string>
            </dict>
            <key>drip_drop/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,38}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{114,38}}</string>
                <key>sourceSize</key>
                <string>{114,124}</string>
            </dict>
            <key>drip_drop/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{78,82}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,41},{78,82}}</string>
                <key>sourceSize</key>
                <string>{114,124}</string>
            </dict>
            <key>drip_drop/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{78,82}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,41},{78,82}}</string>
                <key>sourceSize</key>
                <string>{114,124}</string>
            </dict>
            <key>drip_drop/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,426},{62,108}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{62,108}}</string>
                <key>sourceSize</key>
                <string>{114,124}</string>
            </dict>
            <key>drip_drop/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,426},{62,108}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{62,108}}</string>
                <key>sourceSize</key>
                <string>{114,124}</string>
            </dict>
            <key>drip_pre_attack/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{106,68}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{106,68}}</string>
                <key>sourceSize</key>
                <string>{130,78}</string>
            </dict>
            <key>drip_pre_attack/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,430},{106,68}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{106,68}}</string>
                <key>sourceSize</key>
                <string>{130,78}</string>
            </dict>
            <key>drip_pre_attack/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,322},{106,68}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{106,68}}</string>
                <key>sourceSize</key>
                <string>{130,78}</string>
            </dict>
            <key>drip_standby/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{108,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{108,70}}</string>
                <key>sourceSize</key>
                <string>{116,76}</string>
            </dict>
            <key>drip_standby/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,146},{108,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{108,70}}</string>
                <key>sourceSize</key>
                <string>{116,76}</string>
            </dict>
            <key>drip_standby/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,108},{110,62}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{110,62}}</string>
                <key>sourceSize</key>
                <string>{116,76}</string>
            </dict>
            <key>drip_standby/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{110,62}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{110,62}}</string>
                <key>sourceSize</key>
                <string>{116,76}</string>
            </dict>
            <key>drip_standby/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,82},{110,62}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{110,62}}</string>
                <key>sourceSize</key>
                <string>{116,76}</string>
            </dict>
            <key>drip_standby/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,80},{110,64}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{110,64}}</string>
                <key>sourceSize</key>
                <string>{116,76}</string>
            </dict>
            <key>drip_standby/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,42},{110,64}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{110,64}}</string>
                <key>sourceSize</key>
                <string>{116,76}</string>
            </dict>
            <key>drip_standby/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{110,64}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{110,64}}</string>
                <key>sourceSize</key>
                <string>{116,76}</string>
            </dict>
            <key>drip_standby/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,356},{108,66}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{108,66}}</string>
                <key>sourceSize</key>
                <string>{116,76}</string>
            </dict>
            <key>drip_standby/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,288},{108,66}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{108,66}}</string>
                <key>sourceSize</key>
                <string>{116,76}</string>
            </dict>
            <key>drip_standby/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,288},{108,68}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{108,68}}</string>
                <key>sourceSize</key>
                <string>{116,76}</string>
            </dict>
            <key>drip_standby/19.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,218},{108,68}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{108,68}}</string>
                <key>sourceSize</key>
                <string>{116,76}</string>
            </dict>
            <key>drip_standby/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{108,68}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{108,68}}</string>
                <key>sourceSize</key>
                <string>{116,76}</string>
            </dict>
            <key>drip_standby/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,242},{108,68}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{108,68}}</string>
                <key>sourceSize</key>
                <string>{116,76}</string>
            </dict>
            <key>drip_standby/21.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,146},{108,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{108,70}}</string>
                <key>sourceSize</key>
                <string>{116,76}</string>
            </dict>
            <key>drip_standby/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,218},{108,68}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{108,68}}</string>
                <key>sourceSize</key>
                <string>{116,76}</string>
            </dict>
            <key>drip_standby/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,172},{108,68}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{108,68}}</string>
                <key>sourceSize</key>
                <string>{116,76}</string>
            </dict>
            <key>drip_standby/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{108,66}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{108,66}}</string>
                <key>sourceSize</key>
                <string>{116,76}</string>
            </dict>
            <key>drip_standby/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,312},{108,66}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{108,66}}</string>
                <key>sourceSize</key>
                <string>{116,76}</string>
            </dict>
            <key>drip_standby/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,380},{108,64}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{108,64}}</string>
                <key>sourceSize</key>
                <string>{116,76}</string>
            </dict>
            <key>drip_standby/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,424},{108,64}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{108,64}}</string>
                <key>sourceSize</key>
                <string>{116,76}</string>
            </dict>
            <key>drip_standby/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,212},{108,64}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{108,64}}</string>
                <key>sourceSize</key>
                <string>{116,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DrippingGerm.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef93cf8cd4fb9c715d0e86f8b7403f5a:49ae83a66efd58135239c06ccb62c97b:bf0930dd91f719ea01432898bf61e43b$</string>
            <key>textureFileName</key>
            <string>DrippingGerm.png</string>
        </dict>
    </dict>
</plist>
