<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>germHit/0000</key>
            <dict>
                <key>frame</key>
                <string>{{110,1059},{106,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{106,102}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>germHit/0001</key>
            <dict>
                <key>frame</key>
                <string>{{661,640},{106,104}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{106,104}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>germHit/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,535},{108,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{108,102}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>germHit/0003</key>
            <dict>
                <key>frame</key>
                <string>{{219,957},{106,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{106,102}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>germHit/0004</key>
            <dict>
                <key>frame</key>
                <string>{{113,426},{106,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{106,108}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>germHit/0005</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{106,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{106,114}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>germHit/0006</key>
            <dict>
                <key>frame</key>
                <string>{{794,531},{102,110}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{102,110}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>germHit/0007</key>
            <dict>
                <key>frame</key>
                <string>{{655,851},{102,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{102,106}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>germHit/0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,1164},{104,104}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{104,104}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>germHit/0009</key>
            <dict>
                <key>frame</key>
                <string>{{444,429},{102,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{102,108}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>germHit/0010</key>
            <dict>
                <key>frame</key>
                <string>{{765,846},{102,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{102,106}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>germHit/0011</key>
            <dict>
                <key>frame</key>
                <string>{{823,107},{110,108}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{110,108}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>germHit/0012</key>
            <dict>
                <key>frame</key>
                <string>{{231,110},{112,104}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{112,104}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>germHit/0013</key>
            <dict>
                <key>frame</key>
                <string>{{817,427},{110,102}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{110,102}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>germHit/0014</key>
            <dict>
                <key>frame</key>
                <string>{{328,950},{106,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{106,102}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>germHit/0015</key>
            <dict>
                <key>frame</key>
                <string>{{110,1163},{104,104}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{104,104}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>germHit/0016</key>
            <dict>
                <key>frame</key>
                <string>{{112,534},{108,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{108,102}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>germHit/0017</key>
            <dict>
                <key>frame</key>
                <string>{{773,635},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{106,104}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>germHit/0018</key>
            <dict>
                <key>frame</key>
                <string>{{707,215},{108,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{108,110}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>germHit/0019</key>
            <dict>
                <key>frame</key>
                <string>{{231,216},{104,112}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{104,112}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>germHit/0020</key>
            <dict>
                <key>frame</key>
                <string>{{682,430},{102,110}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{102,110}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>germHit/0021</key>
            <dict>
                <key>frame</key>
                <string>{{436,950},{102,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{102,106}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>germHit/0022</key>
            <dict>
                <key>frame</key>
                <string>{{439,844},{104,106}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{104,106}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>germHit/0023</key>
            <dict>
                <key>frame</key>
                <string>{{2,1060},{102,106}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{102,106}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>germHit/0024</key>
            <dict>
                <key>frame</key>
                <string>{{549,743},{104,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,15},{104,106}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>germHit/0025</key>
            <dict>
                <key>frame</key>
                <string>{{345,321},{110,106}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{110,106}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>germHit/0026</key>
            <dict>
                <key>frame</key>
                <string>{{480,108},{112,106}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{112,106}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>germHit/0027</key>
            <dict>
                <key>frame</key>
                <string>{{570,328},{110,102}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{110,102}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>germHit/0028</key>
            <dict>
                <key>frame</key>
                <string>{{877,742},{106,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{106,102}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>germHurt/0000</key>
            <dict>
                <key>frame</key>
                <string>{{819,217},{110,103}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{110,103}}</string>
                <key>sourceSize</key>
                <string>{124,125}</string>
            </dict>
            <key>germHurt/0001</key>
            <dict>
                <key>frame</key>
                <string>{{906,531},{110,101}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{110,101}}</string>
                <key>sourceSize</key>
                <string>{124,125}</string>
            </dict>
            <key>germHurt/0002</key>
            <dict>
                <key>frame</key>
                <string>{{116,217},{112,103}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{112,103}}</string>
                <key>sourceSize</key>
                <string>{124,125}</string>
            </dict>
            <key>germ_afraid/0000</key>
            <dict>
                <key>frame</key>
                <string>{{218,1061},{105,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{105,101}}</string>
                <key>sourceSize</key>
                <string>{105,131}</string>
            </dict>
            <key>germ_afraid/0001</key>
            <dict>
                <key>frame</key>
                <string>{{327,1054},{105,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{105,101}}</string>
                <key>sourceSize</key>
                <string>{105,131}</string>
            </dict>
            <key>germ_afraid/0002</key>
            <dict>
                <key>frame</key>
                <string>{{866,1161},{105,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{105,101}}</string>
                <key>sourceSize</key>
                <string>{105,131}</string>
            </dict>
            <key>germ_afraid/0003</key>
            <dict>
                <key>frame</key>
                <string>{{539,1057},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{101,95}}</string>
                <key>sourceSize</key>
                <string>{105,131}</string>
            </dict>
            <key>germ_afraid/0004</key>
            <dict>
                <key>frame</key>
                <string>{{935,107},{101,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,23},{101,85}}</string>
                <key>sourceSize</key>
                <string>{105,131}</string>
            </dict>
            <key>germ_afraid/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{103,131}}</string>
                <key>sourceSize</key>
                <string>{105,131}</string>
            </dict>
            <key>germ_afraid/0006</key>
            <dict>
                <key>frame</key>
                <string>{{434,1054},{103,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{103,97}}</string>
                <key>sourceSize</key>
                <string>{105,131}</string>
            </dict>
            <key>germ_afraid/0007</key>
            <dict>
                <key>frame</key>
                <string>{{866,1058},{105,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{105,101}}</string>
                <key>sourceSize</key>
                <string>{105,131}</string>
            </dict>
            <key>germ_afraid/0008</key>
            <dict>
                <key>frame</key>
                <string>{{866,1058},{105,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{105,101}}</string>
                <key>sourceSize</key>
                <string>{105,131}</string>
            </dict>
            <key>germ_afraid/0009</key>
            <dict>
                <key>frame</key>
                <string>{{866,1058},{105,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{105,101}}</string>
                <key>sourceSize</key>
                <string>{105,131}</string>
            </dict>
            <key>germ_afraid/0010</key>
            <dict>
                <key>frame</key>
                <string>{{866,1058},{105,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{105,101}}</string>
                <key>sourceSize</key>
                <string>{105,131}</string>
            </dict>
            <key>germ_afraid/0011</key>
            <dict>
                <key>frame</key>
                <string>{{866,1058},{105,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{105,101}}</string>
                <key>sourceSize</key>
                <string>{105,131}</string>
            </dict>
            <key>germ_afraid/0012</key>
            <dict>
                <key>frame</key>
                <string>{{866,1058},{105,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{105,101}}</string>
                <key>sourceSize</key>
                <string>{105,131}</string>
            </dict>
            <key>germ_standby/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,851},{107,102}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{107,102}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0001</key>
            <dict>
                <key>frame</key>
                <string>{{759,1056},{105,104}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,22},{105,104}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0002</key>
            <dict>
                <key>frame</key>
                <string>{{870,952},{105,104}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{105,104}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0003</key>
            <dict>
                <key>frame</key>
                <string>{{111,850},{107,102}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{107,102}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0004</key>
            <dict>
                <key>frame</key>
                <string>{{220,748},{107,102}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{107,102}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0005</key>
            <dict>
                <key>frame</key>
                <string>{{330,741},{107,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{107,102}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0006</key>
            <dict>
                <key>frame</key>
                <string>{{664,534},{107,104}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{107,104}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0007</key>
            <dict>
                <key>frame</key>
                <string>{{224,322},{107,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{107,108}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0008</key>
            <dict>
                <key>frame</key>
                <string>{{458,320},{107,110}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{107,110}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0009</key>
            <dict>
                <key>frame</key>
                <string>{{366,108},{107,112}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{107,112}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{105,112}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{105,112}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0011</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{103,112}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{103,112}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0012</key>
            <dict>
                <key>frame</key>
                <string>{{705,325},{103,110}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{103,110}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0013</key>
            <dict>
                <key>frame</key>
                <string>{{223,431},{103,108}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{103,108}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0014</key>
            <dict>
                <key>frame</key>
                <string>{{547,849},{103,106}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{103,106}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0015</key>
            <dict>
                <key>frame</key>
                <string>{{657,746},{103,106}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,12},{103,106}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0016</key>
            <dict>
                <key>frame</key>
                <string>{{652,955},{105,104}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{105,104}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0017</key>
            <dict>
                <key>frame</key>
                <string>{{769,741},{103,106}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{103,106}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0018</key>
            <dict>
                <key>frame</key>
                <string>{{333,534},{101,108}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,13},{101,108}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0019</key>
            <dict>
                <key>frame</key>
                <string>{{444,533},{101,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{101,108}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0020</key>
            <dict>
                <key>frame</key>
                <string>{{2,955},{103,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{103,106}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0021</key>
            <dict>
                <key>frame</key>
                <string>{{2,639},{107,106}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{107,106}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0022</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{109,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{109,106}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0023</key>
            <dict>
                <key>frame</key>
                <string>{{594,111},{111,106}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{111,106}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0024</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{113,106}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{113,106}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0025</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{113,104}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,23},{113,104}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0026</key>
            <dict>
                <key>frame</key>
                <string>{{345,217},{111,102}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,25},{111,102}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0027</key>
            <dict>
                <key>frame</key>
                <string>{{440,740},{107,102}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{107,102}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0028</key>
            <dict>
                <key>frame</key>
                <string>{{2,747},{107,102}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,23},{107,102}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0029</key>
            <dict>
                <key>frame</key>
                <string>{{111,746},{107,102}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{107,102}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0030</key>
            <dict>
                <key>frame</key>
                <string>{{763,950},{105,104}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{105,104}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0031</key>
            <dict>
                <key>frame</key>
                <string>{{221,644},{107,102}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,22},{107,102}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0032</key>
            <dict>
                <key>frame</key>
                <string>{{113,322},{109,102}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{109,102}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0033</key>
            <dict>
                <key>frame</key>
                <string>{{331,637},{107,102}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{107,102}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0034</key>
            <dict>
                <key>frame</key>
                <string>{{552,639},{107,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{107,102}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0035</key>
            <dict>
                <key>frame</key>
                <string>{{112,638},{107,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{107,106}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0036</key>
            <dict>
                <key>frame</key>
                <string>{{593,219},{107,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{107,110}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0037</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{107,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{107,112}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0038</key>
            <dict>
                <key>frame</key>
                <string>{{117,110},{105,112}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,12},{105,112}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0039</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{103,112}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,11},{103,112}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0040</key>
            <dict>
                <key>frame</key>
                <string>{{819,322},{103,110}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{103,110}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0041</key>
            <dict>
                <key>frame</key>
                <string>{{334,429},{103,108}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{103,108}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0042</key>
            <dict>
                <key>frame</key>
                <string>{{544,954},{101,106}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{101,106}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0043</key>
            <dict>
                <key>frame</key>
                <string>{{111,954},{103,106}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,10},{103,106}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0044</key>
            <dict>
                <key>frame</key>
                <string>{{873,846},{105,104}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{105,104}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0045</key>
            <dict>
                <key>frame</key>
                <string>{{220,852},{103,106}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{103,106}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0046</key>
            <dict>
                <key>frame</key>
                <string>{{554,432},{101,108}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,12},{101,108}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0047</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{103,108}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,13},{103,108}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0048</key>
            <dict>
                <key>frame</key>
                <string>{{329,845},{103,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{103,106}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0049</key>
            <dict>
                <key>frame</key>
                <string>{{222,536},{107,106}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{107,106}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0050</key>
            <dict>
                <key>frame</key>
                <string>{{906,634},{109,106}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{109,106}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0051</key>
            <dict>
                <key>frame</key>
                <string>{{710,107},{111,106}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{111,106}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0052</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{113,106}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{113,106}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0053</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{113,104}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{113,104}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0054</key>
            <dict>
                <key>frame</key>
                <string>{{480,216},{111,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{111,102}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0055</key>
            <dict>
                <key>frame</key>
                <string>{{443,636},{107,102}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{107,102}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>germ_standby/0056</key>
            <dict>
                <key>frame</key>
                <string>{{554,535},{107,102}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{107,102}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>germ.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f069d1789a588c789edcbd93724e4790:84be1f6552947716bcbd6566381aed44:3dfe4301ace72f06616d10d41b473260$</string>
            <key>textureFileName</key>
            <string>germ.png</string>
        </dict>
    </dict>
</plist>
