<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerAnimation1/hit1_0000</key>
            <dict>
                <key>frame</key>
                <string>{{686,1440},{157,151}}</string>
                <key>offset</key>
                <string>{-96,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,200},{157,151}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{614,1915},{127,153}}</string>
                <key>offset</key>
                <string>{-107,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,198},{127,153}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{839,1409},{93,151}}</string>
                <key>offset</key>
                <string>{-118,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,200},{93,151}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{461,1923},{93,151}}</string>
                <key>offset</key>
                <string>{-117,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,200},{93,151}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{433,1603},{157,151}}</string>
                <key>offset</key>
                <string>{-75,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,199},{157,151}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{179,155}}</string>
                <key>offset</key>
                <string>{-63,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,194},{179,155}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit1_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,1756},{169,155}}</string>
                <key>offset</key>
                <string>{-68,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,194},{169,155}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit1_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,1599},{169,155}}</string>
                <key>offset</key>
                <string>{-68,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,194},{169,155}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit1_0008</key>
            <dict>
                <key>frame</key>
                <string>{{318,1756},{165,157}}</string>
                <key>offset</key>
                <string>{-77,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,194},{165,157}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit2_0000</key>
            <dict>
                <key>frame</key>
                <string>{{477,1756},{155,157}}</string>
                <key>offset</key>
                <string>{-94,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,194},{155,157}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit2_0001</key>
            <dict>
                <key>frame</key>
                <string>{{173,1605},{149,157}}</string>
                <key>offset</key>
                <string>{-107,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,192},{149,157}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit2_0002</key>
            <dict>
                <key>frame</key>
                <string>{{527,1440},{157,159}}</string>
                <key>offset</key>
                <string>{-113,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,191},{157,159}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit2_0003</key>
            <dict>
                <key>frame</key>
                <string>{{159,1756},{165,157}}</string>
                <key>offset</key>
                <string>{-118,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,191},{165,157}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit2_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,1114},{225,155}}</string>
                <key>offset</key>
                <string>{-85,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,194},{225,155}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit2_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,1114},{225,155}}</string>
                <key>offset</key>
                <string>{-85,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,194},{225,155}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit2_0006</key>
            <dict>
                <key>frame</key>
                <string>{{354,1333},{171,153}}</string>
                <key>offset</key>
                <string>{-65,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,195},{171,153}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit2_0007</key>
            <dict>
                <key>frame</key>
                <string>{{592,1601},{153,153}}</string>
                <key>offset</key>
                <string>{-74,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,195},{153,153}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit2_0008</key>
            <dict>
                <key>frame</key>
                <string>{{592,1601},{153,153}}</string>
                <key>offset</key>
                <string>{-74,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,195},{153,153}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit2_0009</key>
            <dict>
                <key>frame</key>
                <string>{{354,1488},{113,153}}</string>
                <key>offset</key>
                <string>{-86,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,195},{113,153}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit2_0010</key>
            <dict>
                <key>frame</key>
                <string>{{354,1488},{113,153}}</string>
                <key>offset</key>
                <string>{-86,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,195},{113,153}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit3_0000</key>
            <dict>
                <key>frame</key>
                <string>{{802,539},{199,155}}</string>
                <key>offset</key>
                <string>{-102,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,195},{199,155}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit3_0001</key>
            <dict>
                <key>frame</key>
                <string>{{802,539},{199,155}}</string>
                <key>offset</key>
                <string>{-102,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,195},{199,155}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit3_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,1442},{185,155}}</string>
                <key>offset</key>
                <string>{-114,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,194},{185,155}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit3_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,1442},{185,155}}</string>
                <key>offset</key>
                <string>{-114,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,194},{185,155}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit3_0004</key>
            <dict>
                <key>frame</key>
                <string>{{354,1172},{185,159}}</string>
                <key>offset</key>
                <string>{-134,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,189},{185,159}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit3_0005</key>
            <dict>
                <key>frame</key>
                <string>{{354,1172},{185,159}}</string>
                <key>offset</key>
                <string>{-134,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,189},{185,159}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit3_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,1927},{153,115}}</string>
                <key>offset</key>
                <string>{-46,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,228},{153,115}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit3_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,1927},{153,115}}</string>
                <key>offset</key>
                <string>{-46,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,228},{153,115}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit3_0008</key>
            <dict>
                <key>frame</key>
                <string>{{157,1927},{153,113}}</string>
                <key>offset</key>
                <string>{-32,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,227},{153,113}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit3_0009</key>
            <dict>
                <key>frame</key>
                <string>{{157,1927},{153,113}}</string>
                <key>offset</key>
                <string>{-32,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,227},{153,113}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit3_0010</key>
            <dict>
                <key>frame</key>
                <string>{{157,1927},{153,113}}</string>
                <key>offset</key>
                <string>{-32,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,227},{153,113}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit3_0011</key>
            <dict>
                <key>frame</key>
                <string>{{157,1927},{153,113}}</string>
                <key>offset</key>
                <string>{-32,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,227},{153,113}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit4_0000</key>
            <dict>
                <key>frame</key>
                <string>{{712,622},{79,147}}</string>
                <key>offset</key>
                <string>{-78,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,202},{79,147}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit4_0001</key>
            <dict>
                <key>frame</key>
                <string>{{712,622},{79,147}}</string>
                <key>offset</key>
                <string>{-78,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,202},{79,147}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit4_0002</key>
            <dict>
                <key>frame</key>
                <string>{{312,1923},{123,147}}</string>
                <key>offset</key>
                <string>{-83,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,200},{123,147}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit4_0003</key>
            <dict>
                <key>frame</key>
                <string>{{312,1923},{123,147}}</string>
                <key>offset</key>
                <string>{-83,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,200},{123,147}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit4_0004</key>
            <dict>
                <key>frame</key>
                <string>{{332,1605},{99,147}}</string>
                <key>offset</key>
                <string>{-98,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,200},{99,147}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit4_0005</key>
            <dict>
                <key>frame</key>
                <string>{{332,1605},{99,147}}</string>
                <key>offset</key>
                <string>{-98,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,200},{99,147}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit4_0006</key>
            <dict>
                <key>frame</key>
                <string>{{332,1605},{99,147}}</string>
                <key>offset</key>
                <string>{-98,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,200},{99,147}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit4_0007</key>
            <dict>
                <key>frame</key>
                <string>{{229,1114},{123,165}}</string>
                <key>offset</key>
                <string>{-82,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,184},{123,165}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit4_0008</key>
            <dict>
                <key>frame</key>
                <string>{{838,159},{187,171}}</string>
                <key>offset</key>
                <string>{-55,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,173},{187,171}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit4_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,1271},{185,169}}</string>
                <key>offset</key>
                <string>{-56,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,170},{185,169}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit4_0010</key>
            <dict>
                <key>frame</key>
                <string>{{189,1444},{163,159}}</string>
                <key>offset</key>
                <string>{-69,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,180},{163,159}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit4_0011</key>
            <dict>
                <key>frame</key>
                <string>{{541,1172},{163,159}}</string>
                <key>offset</key>
                <string>{-69,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,180},{163,159}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit4_0012</key>
            <dict>
                <key>frame</key>
                <string>{{189,1281},{163,161}}</string>
                <key>offset</key>
                <string>{-69,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,179},{163,161}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit4_0013</key>
            <dict>
                <key>frame</key>
                <string>{{634,1756},{135,157}}</string>
                <key>offset</key>
                <string>{-74,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,184},{135,157}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit4_0014</key>
            <dict>
                <key>frame</key>
                <string>{{747,1599},{135,155}}</string>
                <key>offset</key>
                <string>{-74,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,184},{135,155}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit5_0000</key>
            <dict>
                <key>frame</key>
                <string>{{527,1333},{105,171}}</string>
                <key>offset</key>
                <string>{-75,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,168},{105,171}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit5_0001</key>
            <dict>
                <key>frame</key>
                <string>{{527,1333},{105,171}}</string>
                <key>offset</key>
                <string>{-75,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,168},{105,171}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit5_0002</key>
            <dict>
                <key>frame</key>
                <string>{{793,696},{111,229}}</string>
                <key>offset</key>
                <string>{-89,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,120},{111,229}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit5_0003</key>
            <dict>
                <key>frame</key>
                <string>{{793,696},{111,229}}</string>
                <key>offset</key>
                <string>{-89,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,120},{111,229}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit5_0004</key>
            <dict>
                <key>frame</key>
                <string>{{802,348},{189,213}}</string>
                <key>offset</key>
                <string>{-140,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,125},{189,213}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit5_0005</key>
            <dict>
                <key>frame</key>
                <string>{{802,348},{189,213}}</string>
                <key>offset</key>
                <string>{-140,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,125},{189,213}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit5_0006</key>
            <dict>
                <key>frame</key>
                <string>{{802,348},{189,213}}</string>
                <key>offset</key>
                <string>{-140,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,125},{189,213}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit5_0007</key>
            <dict>
                <key>frame</key>
                <string>{{802,348},{189,213}}</string>
                <key>offset</key>
                <string>{-140,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,125},{189,213}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit5_0008</key>
            <dict>
                <key>frame</key>
                <string>{{802,348},{189,213}}</string>
                <key>offset</key>
                <string>{-140,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,125},{189,213}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit5_0009</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{405,269}}</string>
                <key>offset</key>
                <string>{-36,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,80},{405,269}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit5_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{427,281}}</string>
                <key>offset</key>
                <string>{25,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,81},{427,281}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit5_0011</key>
            <dict>
                <key>frame</key>
                <string>{{431,273},{369,347}}</string>
                <key>offset</key>
                <string>{52,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,16},{369,347}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit5_0012</key>
            <dict>
                <key>frame</key>
                <string>{{712,809},{287,349}}</string>
                <key>offset</key>
                <string>{29,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,4},{287,349}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit5_0013</key>
            <dict>
                <key>frame</key>
                <string>{{355,897},{273,349}}</string>
                <key>offset</key>
                <string>{21,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,4},{273,349}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit5_0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,835},{277,351}}</string>
                <key>offset</key>
                <string>{24,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,0},{277,351}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit5_0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{269,355}}</string>
                <key>offset</key>
                <string>{20,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,0},{269,355}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit5_0016</key>
            <dict>
                <key>frame</key>
                <string>{{357,622},{273,353}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,1},{273,353}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit5_0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{277,353}}</string>
                <key>offset</key>
                <string>{13,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,1},{277,353}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
            <key>playerAnimation1/hit5_0018</key>
            <dict>
                <key>frame</key>
                <string>{{706,1160},{277,247}}</string>
                <key>offset</key>
                <string>{13,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,106},{277,247}}</string>
                <key>sourceSize</key>
                <string>{477,363}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HeroAnimaiton1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c18f69a33ff99cb6fe592c59a7ce85e:13251df28ed6b5cb2d9d6698c4ee930b:ff4773d5e77f7fc9c7df0e0c0e8d7e69$</string>
            <key>textureFileName</key>
            <string>HeroAnimaiton1.png</string>
        </dict>
    </dict>
</plist>
