<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Megma/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{51,22}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{51,22}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>Megma/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,50},{51,22}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{51,22}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>Megma/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{51,22}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{51,22}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>Megma/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,26},{51,22}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{51,22}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>Megma/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{51,22}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{51,22}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>Megma/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{51,22}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{51,22}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>Megma/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,140},{51,20}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{51,20}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>Megma/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{51,20}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{51,20}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>Megma/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,118},{51,20}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{51,20}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>Megma/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{51,20}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{51,20}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>Megma/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,96},{51,20}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{51,20}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>Megma/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,74},{51,20}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{51,20}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>Megma/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,22}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{51,22}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>Megma/megmaBac.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Magma.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9148ab2b89bfd238d3d4cae41489499:ab9b86d0f612eae1c817accc8f28efb4:290ecc849c0e11f6934423249928a727$</string>
            <key>textureFileName</key>
            <string>Magma.png</string>
        </dict>
    </dict>
</plist>
