<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>64</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>germ</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0.1</real>
                        <key>filter_categoryBits</key> <integer>128</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>569</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string>hurtSensor</string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>44.777</real>
                             <key>position</key> <string>{ -2.667,-6.000 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>wall</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.2500,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>0</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>256</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>4800</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string>wall</string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 25.000,0.000 }</string>	
								<string>{ 25.000,4000.000 }</string>	
								<string>{ -25.000,4000.000 }</string>	
								<string>{ -25.000,0.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>megma</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1024</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>14464</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string>megma</string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 0.000,100.000 }</string>	
								<string>{ 0.000,0.000 }</string>	
								<string>{ 100.000,0.000 }</string>	
								<string>{ 100.000,100.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>landgerm</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.3000,0.2700 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>4096</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>773</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string>hurtSensor</string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>36.222</real>
                             <key>position</key> <string>{ 0.700,0.420 }</string>
                         </dict>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>4096</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string>left_down_Sensor</string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>10.000</real>
                             <key>position</key> <string>{ -44.300,-51.580 }</string>
                         </dict>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>4096</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string>right_down_Sensor</string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>10.000</real>
                             <key>position</key> <string>{ 45.700,-52.580 }</string>
                         </dict>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>4096</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string>left_Sensor</string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>10.000</real>
                             <key>position</key> <string>{ -48.300,2.420 }</string>
                         </dict>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>4096</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string>right_Sensor</string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>10.000</real>
                             <key>position</key> <string>{ 47.700,2.420 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>fireball</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>1</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>8192</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>512</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>26.000</real>
                             <key>position</key> <string>{ -3.457,28.913 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>rock</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>5</real>
                        <key>friction</key> <real>0.2</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>8192</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>580</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string>rock</string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>61.660</real>
                             <key>position</key> <string>{ 0.826,0.870 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>standby</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.7</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>2048</integer>
                        <key>filter_groupIndex</key> <integer>-1</integer>
                        <key>filter_maskBits</key> <integer>1024</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string>megmaSensor</string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>17.029</real>
                             <key>position</key> <string>{ 0.500,-2.000 }</string>
                         </dict>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>32768</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>16388</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string>player_body</string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -36.500,-42.000 }</string>	
								<string>{ -36.500,-82.000 }</string>	
								<string>{ 32.500,-82.000 }</string>	
								<string>{ 32.500,-43.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>0</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>512</integer>
                        <key>filter_groupIndex</key> <integer>-1</integer>
                        <key>filter_maskBits</key> <integer>12480</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string>hurtSensor</string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>46.098</real>
                             <key>position</key> <string>{ -2.167,-19.333 }</string>
                         </dict>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>64</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>260</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string>body</string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -36.500,22.000 }</string>	
								<string>{ -43.500,-44.000 }</string>	
								<string>{ -36.500,-63.000 }</string>	
								<string>{ 33.500,-64.000 }</string>	
								<string>{ 40.500,-41.000 }</string>	
								<string>{ 33.500,23.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>100000</real>
                        <key>friction</key> <real>200</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>16384</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>16384</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 33.500,-62.000 }</string>	
								<string>{ 3.500,-29.000 }</string>	
								<string>{ -32.500,-62.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>hit0</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>4736</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string>right_normal_hit</string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -14.500,-53.000 }</string>	
								<string>{ 110.500,-52.000 }</string>	
								<string>{ 110.500,39.000 }</string>	
								<string>{ -13.500,40.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>2048</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>1024</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string>megmaSensor</string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>17.029</real>
                             <key>position</key> <string>{ -13.833,3.333 }</string>
                         </dict>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>64</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>4</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string>player_body</string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 20.500,-24.000 }</string>	
								<string>{ -49.500,-24.000 }</string>	
								<string>{ -49.500,-64.000 }</string>	
								<string>{ 19.500,-64.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>4736</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string>left_normal_hit</string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -139.500,-52.000 }</string>	
								<string>{ -16.500,-51.000 }</string>	
								<string>{ -15.500,41.000 }</string>	
								<string>{ -140.500,41.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>64</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>8452</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string>body</string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>44.181</real>
                             <key>position</key> <string>{ 39.500,46.333 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>bomb</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.7143,0.7118 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>64</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>260</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string>bomb</string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>41.012</real>
                             <key>position</key> <string>{ -29.333,-48.167 }</string>
                         </dict>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>64</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>4</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string>player_body</string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -55.000,-102.500 }</string>	
								<string>{ -15.000,-101.500 }</string>	
								<string>{ -15.000,-62.500 }</string>	
								<string>{ -55.000,-62.500 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>4736</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string>right_normal_hit</string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>77.130</real>
                             <key>position</key> <string>{ -23.000,-34.500 }</string>
                         </dict>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>4736</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string>left_normal_hit</string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>78.026</real>
                             <key>position</key> <string>{ -25.000,-34.500 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>floor</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.6</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>45760</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string>floor</string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 100.000,0.000 }</string>	
								<string>{ 99.000,100.000 }</string>	
								<string>{ 1.000,100.000 }</string>	
								<string>{ 1.000,0.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>boss</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>512</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>59</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string>hurtSensor</string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -116.000,26.500 }</string>	
								<string>{ 105.000,33.500 }</string>	
								<string>{ 105.000,125.500 }</string>	
								<string>{ -117.000,126.500 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.3</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>64</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>772</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string>germ</string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>59.135</real>
                             <key>position</key> <string>{ -4.000,-82.500 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>hurt3</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>512</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>4</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>36.014</real>
                             <key>position</key> <string>{ -4.000,9.833 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>dripgerm</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0.1</real>
                        <key>filter_categoryBits</key> <integer>512</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>57</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string>hurtSensor</string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>44.777</real>
                             <key>position</key> <string>{ -0.500,8.833 }</string>
                         </dict>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>128</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>836</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>43.081</real>
                             <key>position</key> <string>{ -0.833,10.167 }</string>
                         </dict>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>128</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>260</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string>drectionSensor</string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>10.000</real>
                             <key>position</key> <string>{ -62.500,-0.500 }</string>
                         </dict>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>128</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>260</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string>drectionSensor</string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>10.000</real>
                             <key>position</key> <string>{ 62.500,-1.500 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>thorn</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>20000</real>
                        <key>friction</key> <real>100</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>128</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>516</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string>thorn</string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>61.660</real>
                             <key>position</key> <string>{ 52.326,77.870 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>hit</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.7</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>2048</integer>
                        <key>filter_groupIndex</key> <integer>-1</integer>
                        <key>filter_maskBits</key> <integer>1024</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string>megmaSensor</string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>17.029</real>
                             <key>position</key> <string>{ 0.500,-2.000 }</string>
                         </dict>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>64</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>4</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string>player_body</string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -34.500,-42.000 }</string>	
								<string>{ -34.500,-82.000 }</string>	
								<string>{ 34.500,-82.000 }</string>	
								<string>{ 34.500,-43.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>0</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>512</integer>
                        <key>filter_groupIndex</key> <integer>-1</integer>
                        <key>filter_maskBits</key> <integer>12480</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string>hurtSensor</string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>46.098</real>
                             <key>position</key> <string>{ -2.167,-19.333 }</string>
                         </dict>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>64</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>260</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -35.500,21.000 }</string>	
								<string>{ -42.167,-45.333 }</string>	
								<string>{ -35.500,-68.000 }</string>	
								<string>{ 34.500,-68.000 }</string>	
								<string>{ 41.833,-41.667 }</string>	
								<string>{ 34.500,22.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>4736</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string>right_normal_hit</string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -0.500,20.000 }</string>	
								<string>{ -0.500,-64.000 }</string>	
								<string>{ 93.500,-64.000 }</string>	
								<string>{ 93.500,20.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>4736</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string>left_normal_hit</string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -87.500,16.000 }</string>	
								<string>{ -87.500,-63.000 }</string>	
								<string>{ 9.500,-63.000 }</string>	
								<string>{ 9.500,16.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>16384</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>16384</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 24.500,-65.000 }</string>	
								<string>{ -0.500,-28.000 }</string>	
								<string>{ -26.500,-66.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>MovingPlatform</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 1.0000,0.2050 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>10000.4</real>
                        <key>friction</key> <real>200</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>16384</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>49152</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string>floor</string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 100.000,20.500 }</string>	
								<string>{ -98.000,20.500 }</string>	
								<string>{ -99.000,-20.500 }</string>	
								<string>{ 100.000,-20.500 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>BulletGerm</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.9381,1.3060 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0.1</real>
                        <key>filter_categoryBits</key> <integer>512</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>57</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string>hurtSensor</string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>73.007</real>
                             <key>position</key> <string>{ -5.500,-1.167 }</string>
                         </dict>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.6</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>64</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>260</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>79.000</real>
                             <key>position</key> <string>{ -3.833,-4.833 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>Bullet</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>64</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>512</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>15.524</real>
                             <key>position</key> <string>{ 0.167,0.167 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

